<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Coin Change</title>
    </head>
    <body>
        <div class="container">
            <h1>Coin Change Machine</h1>
            <form action="/output" method="post">
                <input type="number" class="form-control" name="input" placeholder="How many coins do you have?">
                <br>
                <button class="btn btn-info" type="submit" name="button">Calculate!</button>
            </form>
        </div>
    </body>
</html>
